body{
    margin: 0px;
    padding: 0px;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(255, 145, 0);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding:15px;
    display: block;
}

.navbar a:hover{
    background-color: rgb(147, 141, 133);
}

.navbar li{
    float: left;
}
.footer{
    text-align: center;
    color: aliceblue;
    background-color: rgb(255, 145, 0);
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%; 
}


.vare img{
    width: 160px;
    height: auto
}

.varer {
  display: flex;
  flex-wrap: wrap;           
  justify-content: center;   
  gap: 20px;  
  margin-top: 40px;              
}


.vare {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 220px;              
  text-align: center;
  padding: 15px;
}

.vare p {
  margin: 2px 0;
  font-size: 20px;
  color: #000000;
}


.meny img{
    width: 160px;
    height: auto
}

.menyer {
  display: flex;
  flex-wrap: wrap;           
  justify-content: center;   
  gap: 20px;
  margin-top: 40px;                
}


.meny {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 220px;              
  text-align: center;
  padding: 15px;
}

.meny p {
  margin: 2px 0;
  font-size: 20px;
  color: #000000;
}