<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="kontakt">kontakt</a></li>
            <li><a href="/">hjem</a></li>
            <li><a href="meny">meny</a></li>
            <li><a href="varer">varer</a></li>
        </ul>
    </nav>
    
     {%block content%}{%endblock%}
          <footer class="footer">marcus sin kantine</footer>
</body>
</html>
